body {
    margin: 0;
}
.line-hide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.two-line-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  &.fixed-height {
    height: 40px;
  }
}
